<script type="text/html" id="container-template">
	<div class="container" id="container">
		<h3 class="title">
			TODO list
			<button type="button" class="add btn btn-primary">Add new one</button>
		</h3>
		<div class="row">
			<div class="col-lg-3" id="master"></div>
			<div class="col-lg-9" id="details"></div>
		</div>
	</div>
</script>

<script type="text/html" id="todo-list-template">
	<h4>Active todos</h4>
	<ul class="active-list todos list-group"></ul>
	<h4>Completed todos</h4>
	<ul class="completed-list todos list-group"></ul>
</script>

<script type="text/html" id="todo-list-item-template">
	<div class="item-content">
		<div class="name">
			<%= _.escape(item.name) %>
		</div>
	</div>
	<div class="tools">
		<button type="button" class="icon add btn btn-default" title="Add new todo" <%= item.selected ? '' : 'disabled' %>>
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		<button type="button" class="icon edit btn btn-default" title="Change" data-id="<%= item._id %>">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
		<button type="button" class="icon delete btn btn-default" title="Remove list" data-id="<%= item._id %>">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</script>

<script type="text/html" id="todo-item-template">
	<div class="todo-item">
		<div class="name">
			<%= _.escape(todo.name) %>
		</div>
	</div>
	<div class="tools">
		<% if (!todo.completed) { %>
		<button type="button" class="icon done btn btn-success" title="Completed!" data-id="<%= todo._id %>">
			<span class="glyphicon glyphicon-ok"></span>
		</button>
		<% } else { %>
		<button type="button" class="icon start btn btn-danger" title="Make active" data-id="<%= todo._id %>">
			<span class="glyphicon glyphicon-repeat"></span>
		</button>
		<% } %>
		<button type="button" class="icon edit btn btn-default" title="Change" data-id="<%= todo._id %>">
			<span class="glyphicon glyphicon-pencil"></span>
		</button>
		<button type="button" class="icon delete btn btn-default" title="Remove" data-id="<%= todo._id %>">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</script>

<script type="text/html" id="todo-form-template">
	<div class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<% if (isNew) { %>
							Add new todo into list
						<% } else { %>
							Edit todo name
						<% } %>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<textarea class="form-control" id="todo-name" name="todo-name"><%= todo.name %></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default cancel">Cancel</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="todo-list-form-template">
	<div class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<% if (isNew) { %>
							Add new todo list
						<% } else { %>
							Edit todo list name
						<% } %>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<textarea class="form-control" id="todo-list-name" name="todo-list-name"><%= list.name %></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default cancel">Cancel</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</script>