body {
	.container {
		margin: 0 auto;
		font-size: 12px;

		.column {
			&.content {
				background-color: white;
				padding-left: 1em;
			}
		}

		.title {
			button {
				margin-left: 55px;
			}
		}
	}

	.todo-lists {
		.todo-lists-item {
			overflow: hidden;
			@tool-width: 30px;

			.item-content {
				float: left;
				width: 100%;
				margin-left: -@tool-width;

				.name {
					margin-left: @tool-width;
				}
			}

			.tools {
				float: right;
				width: @tool-width;
				text-align: right;

				button {
					margin-bottom: 3px;
				}
			}
		}
	}

	.btn.icon {
		padding: 4px 7px;
		font-size: 10px;
	}

	.badge {
		font-weight: normal;
		background-color: #ddd;
	}

	.todos {
		list-style-type: none;
		margin: 0;
		padding: 0;

		.todo {
			overflow: hidden;
			@tool-width: 85px;

			&.completed {
				color: grey;
				background-color: #f5f5f5;
			}

			.todo-item {
				float: left;
				width: 100%;
				margin-left: -@tool-width;

				.name {
					margin-left: @tool-width;
				}
			}

			.tools {
				float: right;
				width: @tool-width;
				text-align: right;
			}
		}
	}

	.sortable-ghost {
		opacity: 0.3;
	}
}